
/bin/
cmd/dasm-burner/static/*
!cmd/dasm-burner/static/.gitkeep
/data/
.DS_Store
.env
.env.*
!.env.example
*.exe
.idea/
*.kubeconfig
kubeconfig
kubeconfig.*
must-gather.local.*/
*.out
/run/
*.swp
*.test
*.token
.vscode/
web/dist/
web/node_modules/
